<div class="article">
  <h1>
    Under Construction, nothing to see here yet.
    <div class="seperator"></div>
  </h1>
    <p>Hello! How did you find this place? </p>
    <p>I didn't share it with anyone yet.</p>
    <p>This is my new site, for.... something. Not quite sure what yet.</p>
    <p>This is a place holder, mostly.</p>
    <p>Soon, I hope, I will put here more stuff.</p>
  <p>
  	Anyway, if you havn't left yet and for some reason want to contact me, you can find me here:
  	<ul>
  		<li>
  			Mail: <a href="mailto:almogfr@gmail.com">almogfr@gmail.com</a>
  		</li>
  		<li>
  			Twitter: <a href="https://twitter.com/teren9">@teren9</a>
  		</li>
      <li>
        Github: <a href="https://github.com/Teren9">https://github.com/Teren9</a>
      </li>
  	</ul> 
  </p>
</div>
