/* Coolors Exported Palette - coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */
/*
$light-background: #fefeff; //rgba(255, 255, 255, 100)
$dark-background: #fafaff;
$text: #00171f; //rgba(0, 23, 31, 100)
$dark: #003459; //rgba(0, 52, 89, 100)
$mid: #007ea7; //rgba(0, 126, 167, 100)
$light: #00a8e8; //rgba(0, 168, 232, 100)
*/
//https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429
$text: #2b2d42; //rgba(0, 23, 31, 100)
$dark: #003459; //rgba(0, 52, 89, 100)
$mid: #ef233c; //rgba(0, 126, 167, 100)
$light: #d90429; //rgba(0, 168, 232, 100)
$light-background: #edf2f4; //rgba(255, 255, 255, 100)
$dark-background: #8d99ae;
