@import "palette";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background-color: $dark-background;
  color: $text;
  font-family: 'Open Sans', sans-serif;
  h1{
    color: $dark;
  }
  a{
    color: $light;
    text-decoration: none;
  }
  a:hover{
    color: $mid;
  }
}
.header{
  border-bottom: solid 1px $mid;
  background-color: $light-background;
  position: absolute;
  width: 100%;
  margin: auto;
  //max-width: 1000px;
  .logo{
    text-decoration: none;
    font-weight: bold;
    float: left;
    color: $dark;
    //background-color: $dark-background;
    margin: 20px;
    padding: 5px;
    border: solid 1px $mid;
    border-radius: 2px;
    background-color: $light-background;
  }
  .logo:hover{
    background-color: $dark-background;
    color: $mid;
  }
  .nav{
    float: right;
    margin: 26px;
    a{
        text-decoration: none;
        color: $dark;
    }
    a:hover{
      color: $mid;
    }
  }
}
.content{
  padding-top: 80px;
  width: 60%;
  margin: auto;
  max-width: 1000px;
  h1{
    color: $mid;
  }
  .seperator{
    padding-top: 10px;
    width: 200px;
    border-bottom: 1px solid $mid;
  }
}
.footer{
  border-top: 1px solid $mid;
  background-color: $light-background;
  padding: 20px

}
